body {
  color: black;
  font-size: 1rem;
  line-height: 2rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: black;
  line-height: 3rem;
  font-family: Helvetica, sans-serif; }

.sub, small {
  color: #777;
  line-height: 2rem; }

h1, .h1 {
  font-size: 2rem;
  font-weight: 500; }
  h1 .sub, .h1 .sub, h1 small, .h1 small {
    font-size: 1.9rem; }

h2, .h2 {
  font-size: 1.8rem;
  font-weight: 500; }
  h2 .sub, .h2 .sub, h2 small, .h2 small {
    font-size: 1.7rem; }

h3, .h3 {
  font-size: 1.6rem;
  font-weight: 500; }
  h3 .sub, .h3 .sub, h3 small, .h3 small {
    font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.4rem;
  font-weight: 500; }
  h4 .sub, .h4 .sub, h4 small, .h4 small {
    font-size: 1.3rem; }

h5, .h5 {
  font-size: 1.2rem;
  font-weight: 500; }
  h5 .sub, .h5 .sub, h5 small, .h5 small {
    font-size: 1.1rem; }

h6, .h6 {
  font-size: 1.1rem;
  font-weight: 500; }
  h6 .sub, .h6 .sub, h6 small, .h6 small {
    font-size: 1rem; }

p {
  word-break: keep-all;
  word-wrap: break-word; }
  p + p {
    margin-top: 1rem; }

mark {
  background-color: #fbfcb2; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

a {
  text-decoration: none; }

abbr {
  border-bottom: 1px dotted black;
  cursor: help; }
  abbr[title] {
    border-bottom: none; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

blockquote {
  padding: 10px 20px;
  font-size: 1.1rem;
  border-left: 10px solid #A4A4A4;
  border-right: 10px solid #A4A4A4;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 2rem; }

code {
  padding: 2px 4px;
  font-size: 0.99rem;
  color: #C7254E;
  background-color: #F9F2F4;
  border-radius: 0.4rem;
  word-break: keep-all;
  word-wrap: break-word; }

pre {
  display: block;
  padding: 0.2rem;
  font-size: 0.9rem;
  line-height: 2rem;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-line;
  overflow: auto; }

kbd {
  background-color: #F4F7F8;
  border-radius: 0.2rem;
  border: 1px solid #B4B4B4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 0px 0px rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 2px 4px;
  white-space: nowrap; }

ul {
  list-style: disc inside;
  line-height: 2rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.table {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  word-break: keep-all;
  word-wrap: break-word; }
  .table > thead > tr > th, .table > tbody > tr > th {
    font-weight: bold; }
  .table > thead > tr {
    line-height: 2rem;
    border-bottom: 2px solid #949494; }
  .table > tbody > tr {
    line-height: 2rem;
    border-bottom: 1px solid #DDD; }
  .table th, .table td {
    vertical-align: bottom;
    text-align: left;
    padding: 5px; }

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #dfdfdf; }

.table-bordered {
  border: 2px solid #cecece; }
  .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td,
  .table-bordered > thead > tr > th {
    border: 2px solid #cecece; }

.table-hover > tbody > tr:hover {
  background-color: #949494; }

.btn {
  color: black;
  display: inline-block;
  line-height: 1rem;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cecece;
  border-radius: 10px;
  background-color: #FFF; }
  .btn:hover, .btn:focus {
    background-color: #e6e6e6; }
  .btn:active {
    background-color: #cccccc; }

.btn-lg {
  padding: 10px 16px;
  font-size: 1.4rem;
  border-radius: 10px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 0.6rem;
  border-radius: 10px; }

.btn-blue {
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #285f8f; }
  .btn-blue:active {
    background-color: #1d4567; }

.btn-green {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C; }
  .btn-green:hover, .btn-green:focus {
    background-color: #449d44; }
  .btn-green:active {
    background-color: #357935; }

.btn-red {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A; }
  .btn-red:hover, .btn-red:focus {
    background-color: #c9302c; }
  .btn-red:active {
    background-color: #a02622; }

.btn-flat {
  border: none;
  border-radius: 0%; }

.btn-extralg {
  display: block;
  width: 100%; }

.btn-fancy {
  background: linear-gradient(135deg, #ff9999, red);
  text-shadow: 0px 1px 1px;
  transition: all 0.1s;
  box-shadow: 0px 5px 5px #e60000; }
  .btn-fancy:hover, .btn-fancy:focus {
    background: linear-gradient(135deg, white, #e60000);
    box-shadow: 0px 5px 5px #e60000; }
  .btn-fancy:active {
    background: linear-gradient(135deg, white, #cc0000);
    box-shadow: 0px 2px 2px #cc0000;
    text-shadow: none; }

.alert {
  padding: 15px;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .alert.success {
    color: #3C763D;
    background-color: #cce5cc;
    border-color: #bbdcbc; }
  .alert.info {
    color: #31708F;
    background-color: #d0e5ef;
    border-color: #bddae8; }
  .alert.warning {
    color: #8A6D3B;
    background-color: #eee5d6;
    border-color: #e6dac5; }
  .alert.danger {
    color: #A94442;
    background-color: #f9f1f1;
    border-color: #f2dfde; }

.header {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCCCCC; }

.jumbotron {
  background-color: #EEE;
  border-radius: 6px;
  padding-left: 5%;
  padding-right: 5%; }
  .jumbotron h1, .jumbotron .h1 {
    font-size: 3rem;
    padding-bottom: 10px;
    padding-top: 20px; }
  .jumbotron p {
    padding-bottom: 15px; }

.navbar {
  width: 100%;
  font-family: 'PT Sans', Arial, sans-serif;
  background: #EEEEEE;
  font-weight: bold; }
  .navbar li {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    overflow: hidden; }
  .navbar a {
    color: #BBBBBB;
    text-decoration: none;
    font-size: 1.2rem; }
    .navbar a:hover {
      color: black; }
  .navbar .active a {
    color: #285F8F; }
    .navbar .active a:hover {
      color: black; }
  .navbar .disabled a {
    color: #FFFFFF;
    cursor: not-allowed; }

/*Styles for screen 600px and lower*/
@media screen and (max-width: 40rem) {
  .navbar li {
    width: 100%;
    border-bottom: 2px solid #BBB;
    padding-bottom: 10px;
    padding-top: 10px; } }
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: outside none none;
  background-color: #F5F5F5;
  border-radius: 4px; }
  .breadcrumb a {
    color: #337AB7; }
    .breadcrumb a:hover {
      text-decoration: underline; }
  .breadcrumb li {
    display: inline-block; }
    .breadcrumb li + li:before {
      padding: 0px 5px;
      color: #CCC;
      content: "/ "; }

.pagination {
  padding-left: 0px;
  margin: 20px 0px;
  border-radius: 4px; }
  .pagination li {
    display: inline; }
    .pagination li a {
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857;
      color: #337AB7;
      text-decoration: none;
      background-color: #FFF;
      text-decoration: none;
      color: black; }
  .pagination .disabled a {
    color: #777;
    cursor: not-allowed;
    background-color: #FFF;
    border-color: #DDD; }
  .pagination .active a {
    color: #FFF;
    background-color: #337AB7;
    border-color: #337AB7;
    cursor: default; }

.span-1 {
  box-sizing: border-box;
  display: inline-block;
  width: 10.5%;
  margin: 0 1%; }

.span-2 {
  box-sizing: border-box;
  display: inline-block;
  width: 23%;
  margin: 0 1%; }

.span-3 {
  box-sizing: border-box;
  display: inline-block;
  width: 35.5%;
  margin: 0 1%; }

.span-4 {
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  margin: 0 1%; }

.span-5 {
  box-sizing: border-box;
  display: inline-block;
  width: 60.5%;
  margin: 0 1%; }

.span-6 {
  box-sizing: border-box;
  display: inline-block;
  width: 73%;
  margin: 0 1%; }

.span-7 {
  box-sizing: border-box;
  display: inline-block;
  width: 85.5%;
  margin: 0 1%; }

.span-8 {
  box-sizing: border-box;
  display: inline-block;
  width: 98%;
  margin: 0 1%; }

.offset-1 {
  margin-left: 12.5%; }

.offset-2 {
  margin-left: 25%; }

.offset-3 {
  margin-left: 37.5%; }

.offset-4 {
  margin-left: 50%; }

.offset-5 {
  margin-left: 62.5%; }

.offset-6 {
  margin-left: 75%; }

.offset-7 {
  margin-left: 87.5%; }

.container {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 60rem) {
  .container {
    width: 100%; } }
* {
  box-sizing: border-box; }

/*# sourceMappingURL=framework.css.map */
