.categories {

  ul {
    list-style: none;
    font-size: 0;
  }
  li {
    font-size: 1rem;
    width:50%;
    display:inline-block;
    &:hover {
      cursor: pointer;
      background-color: #DDDDDD;
    }
  a{
    color: black;
    display: block;
    width: 100%;
  }
  }
}


@media screen and (max-width: 40rem) {

  .categories {
    ul {
      list-style: none;
    }
    li {
      width: 100%;

    }
  }
}