.imgAnnonce {
  @extend .span-8;
  font-size: 0;
  .imgPrincipal {
    @extend .span-6;
    height: auto;
  }
  .imgSecondaire {
    @extend .span-2;
    li {
      display: inline-block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.boutonModif {
  @extend .btn;
  @extend .btn-blue;
}

.boutonSuppr {
  @extend .btn;
  @extend .btn-red;
  float: right;
}

.tableauDescAnnonce {
  @extend .table;
  @extend .table-bordered;
}

.boutonMail {
  @extend .btn;
  @extend .btn-blue;

}
.boutonConf{
  @extend .btn;
}

.telProprio {
  float: right;
  display: inline-block;
}