#formEditionAnnonce {
  font-size: 0;
  margin-top: 3rem;

  #imagesAnnonce {
    @extend .btn;
    text-align: left;
  }
  .boutonSaveModif {
    @extend .offset-2;
    @extend .btn;

  }
  .boutonVisuModif {
    @extend .btn;
    font-size: 1rem;
  }
}

@media screen and(max-width: 40rem) {
  #formEditionAnnonce{
    .boutonSaveModif{
      margin:0;
  }}
}