
#formRecherche {
margin-top: 3rem;

  .btn-recherche {
    @extend .btn;
    margin-top: 0.5rem;
  @extend .offset-2;
  }
}

.listeannonce {
  .infoResultatRecherche{
    @extend .alert;
    @extend .info;
  }
  .annonce {
    border: 0.2rem solid #BBBBBB;
    font-size: 0;
    display: inline-block;
    @extend .span-8;
    .description {
      display: inline-block;
      vertical-align: top;
      @extend .span-6;
      font-size: 1rem;
      p {
        margin: 0;
      }
      .prixAnnonce {
        @extend .text-right;
        font-weight: 600;
        font-size: 2rem;
        margin-right: 3rem;
      }
    }
    .img {
      @extend .span-2;
      img {
        @extend .span-8;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 40rem) {
  #formRecherche{
    .btn-recherche{
      margin: 0;
    }
  }
  .listeannonce {
    .annonce {
      p {
        line-height: 1.2rem;
      }
      .description .prixAnnonce {
        text-align: left;
        font-size: 1rem;
        margin: 0;
      }
    }
  }

}