@import "framework";
@import "accueil";
@import "recherche";
@import "annonce";
@import "editerAnnonce";
@import "contact";
.btn-connexion {
  @extend .btn;
  vertical-align: top;
}

.entete {
  font-size: 0;
border-bottom: 3px solid #BBBBBB;
  padding-bottom:0.5rem ;
  .image {
    display: inline-block;
    @extend .span-2;
    img {
      @extend .span-8;
      height: auto;
    }
  }
  #formConnexion {
    @extend .span-6;
    display: inline-block;
    input {
      border-radius: 6px;
      padding: 10px;
      width: 40%;
    }
    button{
      width: 20%;
    }
  }
}

@media screen and (max-width: 40rem) {
  .entete {
    #formConnexion {
      width: 100%;
      input {
        width: 100%;

      }
      button {
        width: 100%
      }
    }
  }
}

footer{
  margin-top: 10rem;
  small{
    font-size: 0.8rem;
  }
}
.formulaire{
  font-size: 0;
  label {
    @extend .span-2;
    font-size: 1rem;
    vertical-align: top;
  }

  input, select, textarea {
    @extend .span-6;
  }
  label, input, select, option, textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  select {
    background-color: white;
  }
button{
  @extend .btn;
}
  @media screen and(max-width: 40rem) {
    label,select,input,textarea,button,a{
      width: 100%;
    }
  }

}